@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
:root {
    /*paleta de colores*/
    --primary-color: #000;

    --secondary-color100: #cecece;
    --secondary-color200: #e9008c;
    --secondary-color300: #efc3ca;
    --secondary-color400: #bac853;

    --contrast-color:  #000000;

    --neutral-color-light: #9f82a9;
    --neutral-color-dark: #53315f;

    /*tipografia */
    --tittle-font: Great vibes;
    --navbar-font: Creepster;
    --body-font: Abel;

}